.editprofile {
    display: grid;
    margin-left: 13vw;
    /* margin-right: 1.5vw; */
}
.editprofile .body {
    width: 100%;
    display: flex;
}

.editprofile button {
    color: white;
    font-weight: bold;
}

.editprofile select {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    width: 98%;
    background-color: #e5e5e5e5;
    border-radius: 5px;
    font-size: 1.5vh;
}

.editprofile .form-items .bio-input {
    height: 23vh;
}

.editprofile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
}
.editprofile .button-align-from-left {
    display: flex;
}
.editprofile .button-align-from-left button {
    margin-top: 2vh;
    padding-left: 3vw;
    padding-right: 2.8vw;
}

.editprofile .profile-toggle-settings {
    display: flex;
    margin-bottom: 0.5rem;
}

.editprofile .profile-toggle-settings .toggle-settings-details {
    width: 15vw;
}

.editprofile .profile-toggle-settings div {
    margin-right: 1vw;
}

.editprofile .profile-toggle-settings b {
    font-size: 1vw;
}

.editprofile .profile-toggle-settings p {
    font-size: 0.9vw;
}

.editprofile .left-div {
    margin-right: 10vw;
}

.editprofile form textarea {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    width: 98%;
    background-color: #e5e5e5e5;
    border-radius: 5px;
    font-size: 1.5vh;
}


