.full-screen112 {
  display: flex;
  flex-wrap: wrap;
}

.full112 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left112 {
  display: flex;
  height: 500px;
  width: 1000px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.left-top112 {
  display: flex;
  height: 400px;
  width: 1000px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
}

.left-top-left112 {
  display: flex;
  height: 500px;
  width: 400px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-container112 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 300px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.profile-img112 {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
}

.profile-picture112 {
  object-fit: cover;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.edit-profile-button112 {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.edit-profile112 {
  height: 40px;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  border-color: white;
  color: white;
  background-color: #ee6b6e;
  font-size: 20px;
}

.left-top-right112 {
  display: flex;
  height: 500px;
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-top: 75px;
}

.profilename112 {
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
}

.joined112 {
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
}

.locationtext112 {
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
}

.attended112 {
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
}

.biotext112 {
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.bio112 {
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
}

.right112 {
  display: flex;
  height: 500px;
  width: 700px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.left-bottom112 {
  display: flex;
  height: 500px;
  width: 1000px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.events-box112 {
  display: flex;
  height: 500px;
  width: 1000px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;

  border-radius: 15px;
  background-color: #f5eaea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.events-selector112 {
  display: flex;
  height: 50px;
  width: 400px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.events-selector-left112 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
}

.events-unselected {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  font-size: 20px;
}
.events-selected {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  font-size: 20px;
}

.events-selector-right112 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: left;
}

/* .events-selector-attending112 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  font-size: 20px;
} */

/* .events-selector-owned112 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  font-size: 20px;
} */

.events-list112 {
  display: flex;
  height: 200px;
  width: 1000px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.event112 {
  display: flex;
  height: 100px;
  width: 980px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  margin-top: 20px;
}

.event-left112 {
  display: flex;
  height: 100px;
  width: 700px;
  flex-direction: row;
  justify-content: flex-start;

  align-items: left;
}

.event-left-left112 {
  display: flex;
  height: 100px;
  width: 120px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.event-left-right112 {
  display: flex;
  height: 100px;
  width: 700px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.event-image-container112 {
  display: flex;
  height: 100px;
  width: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.event-image112 {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}

.event-title112 {
  font-size: 20px;
  font-weight: bold;
}

.event-right112 {
  display: flex;
  height: 100px;
  width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.tags-container112 {
  display: flex;
  height: 50px;
  width: 300px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  margin-top: 10px;
}

.tag112 {
  border-radius: 15px;
  border: 1px solid black;
  width: 100px;
  height: 30px;
  text-align: center;
  margin-left: 5px;
}

.manage-events112 {
  display: flex;
  height: 25px;
  width: 200px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 785px;
  margin-top: -25px;
}

.manage-events-button112 {
  /* height: 30px;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  border-color: lightgray;
  color: white;
  background-color: teal;
  font-size: 20px; */

  height: 40px;
  width: 150px;
  /* width: 30%; */
  border-radius: 15px;
  cursor: pointer;
  /* border-color: lightgray; */
  color: white;
  background-color: #ee6b6e;
  font-size: 15px;
  margin-bottom: 10px;

  
}

.event-pagination112 {
  display: flex;
  height: 50px;
  width: 1000px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination li a {
  color: #333;
  padding: 0px 0px;
  border: 0px solid #ccc;
}

.pagination li.active a {
  background-color: lightgray;
  color: black;
  font-weight: bold;
  border-color: lightgray;
}

.right112 {
  display: flex;
  height: 500px;
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right-top112 {
  display: flex;
  height: 250px;
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right-bottom112 {
  display: flex;
  height: 250px;
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.groupsjoined112 {
  display: flex;
  height: 300px;
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
}

.groupsjoinedtext112 {
  width: 90%;
  font-weight: bold;
  font-size: 30px;
  /* margin-right: 200px; */
}
.groupsjoinedlist112 {
  margin-top: 10px;
  display: flex;
  height: 300px;
  width: 450px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5eaea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  border-radius: 15px;
}
.group-box112 {
  display: flex;
  height: 75px;
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
.group-box-left112 {
  display: flex;
  height: 75px;
  width: 250px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}
.group-box-right112 {
  display: flex;
  height: 75px;
  width: 150px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-right: 10px;
  margin-top: 35px;
}
.leave-group112 {
  height: 30px;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  border-color: lightgray;
  color: white;
  background-color: #ee6b6e;
  font-size: 20px;
}
.grouptitle112 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.groupmembers112 {
  font-size: 15px;
  margin-left: 10px;
}
.group-creator112 {
  font-size: 15px;
  margin-left: 10px;
}
.manage-group112 {
  /* height: 30px;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  border-color: lightgray;
  color: white;
  background-color: teal;
  font-size: 15px; */
  height: 40px;
  width: 100px;
  /* width: 30%; */
  border-radius: 15px;
  cursor: pointer;
  /* border-color: lightgray; */
  color: white;
  background-color: #ee6b6e;
  font-size: 15px;
  margin-bottom: 10px;
}

.paginationjoined {
  display: flex;
  justify-content: center;
}

.paginationjoined li {
  display: inline-block;
  margin-right: 5px;
}

.paginationjoined li a {
  color: #333;
  padding: 0px 0px;
  border: 0px solid #ccc;
}

.paginationjoined li.activejoined a {
  background-color: white;
  color: black;
  font-weight: bold;
  border-color: white;
}
.paginationowned {
  display: flex;
  justify-content: center;
}
.paginationowned li {
  display: inline-block;
  margin-right: 5px;
}

.paginationowned li a {
  color: #333;
  padding: 0px 0px;
  border: 0px solid #ccc;
}

.paginationowned li.activeowned a {
  background-color: white;
  color: black;
  font-weight: bold;
  border-color: white;
}
.create-group112 {
  /* height: 30px;

  border-radius: 15px;
  cursor: pointer;
  border-color: lightgray;
  color: white;
  background-color: teal;
  font-size: 15px;
  margin-right: 275px; */
  height: 40px;
  width: 150px;
  /* width: 30%; */
  border-radius: 15px;
  cursor: pointer;
  /* border-color: lightgray; */
  color: white;
  background-color: #ee6b6e;
  font-size: 15px;
  padding: 10px;
}

.display-button112 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.edit-event-button112 {
  /* height: 30px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 15px;
  cursor: pointer;
  border-color: lightgray;
  color: white;
  background-color: teal;
  font-size: 20px; */
  height: 40px;
  width: 100px;
  /* width: 30%; */
  border-radius: 15px;
  cursor: pointer;
  /* border-color: lightgray; */
  color: white;
  background-color: #ee6b6e;
  font-size: 15px;
  margin-bottom: 10px;
}
