.full-screen112 {
    display: flex;
    flex-wrap: wrap;

}

.full112 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left112 {
    display: flex;
    height: 500px;
    width: 1000px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.left-top112 {
    display: flex;
    height: 400px;
    width: 1000px;
    flex-direction: row;
    justify-content: flex-start;
    align-items:left;
}

.left-top-left112 {
    display: flex;
    height: 500px;
    width: 400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.image-container112 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 300px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    


}

.profile-img112 {
    width: 200px;
    height: 200px;
    
}

.profile-picture112 {
    width: 100%;
    height: 140%;
    border-radius: 100%;
    object-fit:cover;
}

.edit-profile-button112 {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

}

.edit-profile112 {
    height: 40px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    border-color: white;
    color: white;
    background-color: #ee6b6e;
    font-size: 20px;
}

.left-top-right112 {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-top: 75px;
}

.profilename112 {
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
}

.joined112 {
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
}

.locationtext112 {
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
}

.attended112 {
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
}

.biotext112 {
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.bio112 {
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
}
.right112{
    display: flex;
    height: 500px;
    width: 700px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}
.left-bottom112{
    display: flex;
    height: 500px;
    width: 1000px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.events-box112{
    display: flex;
    height: 500px;
    width: 1000px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    background-color: lightgray;
    border-radius: 30px;
}
.events-selector112{
    display: flex;
    height: 50px;
    width: 400px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.events-selector-left112{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: right;

}

.events-selector-right112{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: left;
}
.events-selector-attending112{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: right;
    background-color:transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 20px;
}
.events-selector-owned112{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    background-color:transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 20px;
}
.events-list112{
    display: flex;
    height: 200px;
    width: 1000px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.event112{
    display: flex;
    height: 100px;
    width: 900px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
}
.event-left112{
    display: flex;
    height: 100px;
    width: 400px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
}
.event-left-left112{
    display: flex;
    height: 100px;
    width: 120px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}
.event-left-right112{
    display: flex;
    height: 100px;
    width: 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}
.event-image-container112{
    display: flex;
    height: 100px;
    width: 100px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}
.event-image112{
    width: 90px;
    height: 90px;
    border-radius: 10px;
    object-fit:cover;
}
.event-title112{
    font-size: 20px;
    font-weight: bold;
}
.event-right112{
    display: flex;
    height: 100px;
    width: 400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
}
.tags-container112{
    display: flex;
    height: 100px;
    width: 300px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: right;
}
.tag112{
    border-radius: 15px;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
}
.manage-events112{
    display: flex;
    height: 25px;
    width: 200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 785px;
    margin-top: -25px;
}
.manage-events-button112{
    height: 30px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    border-color: lightgray;
    color: white;
    background-color: #ee6b6e;
    font-size: 20px;
}
.event-pagination112{
    display: flex;
    height: 50px;
    width: 1000px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .pagination li {
    display: inline-block;
    margin-right: 5px;
  }
  .pagination li a {
    color: #333;
    padding: 0px 0px;
    border: 0px solid #ccc;
  }
  .pagination li.active a {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    border-color: lightgray;
  }
  