
.find-events-page {
    font-size: 20px;
    display: flex; 
    flex-direction: column;
}

.events-map-list {
    display: flex; 
    flex-direction: column;
    justify-content:flex-start;
    min-width: 340px;

}
.events-map-list-div{
    max-height: 950px;
    overflow-y: scroll;
}
.event-map-card {
    margin:0px;
    display: flex; 

    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-radius: 8px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    


}
.card-wrapper {
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-radius: 10px;

}
.event-list-card {
    margin:0px;
    display: flex; 
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-bottom: 2px solid;
}
#mapview, #listview {

    font-size: 25px;
    border: none;
    background-color: white;
}


.event-map-card .event-map-left {
    padding-right: 40px;
}

.event-map-card .event-map-name {
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
.event-map-card .event-map-time {
    font-size: 18px;
    font-weight: bold;
    color: orangered;
}
.event-list-time {
    font-weight: bold;
    color: orangered;
}
.event-map-card .event-map-location {
    font-size: 18px;
    color: rgb(94, 85, 85);
}

.event-map-card .event-map-category,.event-map-card .event-map-difficulty {
    font-size: 15px;
    border: 2px solid;
    width:130px;
    padding: 0px;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
}

.view-event-find{
    height:45px;
    width: 150%;
    border-radius: 15px;
    cursor: pointer;
    border-color: white;
    color: white;
    background-color: #ee6b6e;
    font-size: 20px;

}
.view-event-find-map{
    height:45px;
    width: 80%;
    border-radius: 15px;
    cursor: pointer;
    border-color: white;
    color: white;
    background-color: #ee6b6e;
    font-size: 20px;
}
#locationsearch{
    width: 250px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid #acacac;
}

.event-map-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.event-map-info-header {
    display: flex;
    flex-direction: column;


}
.event-map-info {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.event-list-info {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.crop {
    width: 150px;
    height: 150px;
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
}

.crop img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.event-list-img {
    padding-left: 50px;
}

.event-list-card .event-list-name {
    font-size: 30px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.event-list-card {
    border-radius: 20px;
    box-shadow: 5px 8px #6e6e6e;
    border: none;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    width: 1335px;
    height: 200px;
}

.event-list-card .event-list-category,.event-list-card .event-list-difficulty {
    font-size: 17px;
    border: 2px solid;
    width: 130px;
    background-color: white;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
}

.events-list-list {
    display: flex; 
    flex-direction: column;
    justify-content:flex-start;
    margin:0px;
    border-radius: 15px;
    align-items: center;
    background-color: rgb(231, 231, 231);
    min-width: 1450px;
}

.list-card-desc {
    padding: 10px;
}